
{% extends 'blog/base.html' %}
{% block content %}
<div >
    <h3 class="border-bottom">من انا</h3>
    <p>بالتأكيد إن هذين السؤالين القصيرين يحتاجان إلى أضعافهما من الكلمات للإجابة. المشكلة هنا ليست بطول الإجابة بقدر توفرها لدينا، ذلك أن الكثير منا رغم تقدم عمره وطول تجربته لا يزال لم يحدد ماذا يريد؟ ناهيك عن السؤال الأهم: من أنا؟!
        أول خطوات تحقيق أهداف "ماذا أريد؟" تبدأ بالتعرف على "من أنا؟"، لذا يفشل الكثيرون في تحقيق ما يرغبون لأنهم لا يعرفون حقيقة أنفسهم ورغباتهم، فأنت حينما تعرف "من أنت" فكأنما حددت موقعك الدقيق على الخارطة، ثم بتحديدك "ماذا تريد" فأنت حددت النقطة التي ترغب الوصول إليها، وبالتأكيد لن تعدم الوسيلة حتى تصل إلى مبتغاك، بعد أن تكون تجاهلت الكثير مما لا ترغب.
        لابد من المعرفة الصادقة لما تحب وتأمل من الحياة، وغني عن القول أنه يختلف عن والدك وأخيك وصديقك! نظراً لأنك شخص تعرض لمؤثرات مجتمعية وبيئة عائلية مختلفة فأنت مختلف عنهم، تحمل مشاعر وأفكاراً وآمالاً -والأهم إمكانات- تختلف عنهم أيضاً، ما يسعدك يختلف عما يسعدهم، وأيضاً ما قد يشعرك بالبؤس يختلف عنهم.</p>
</div>

{% endblock content %}
